In [1]:
# Import Dependencies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
ageSexDF = pd.read_csv("resources/Provisional_COVID-19_Deaths_by_Sex_and_Age.csv")
ageSexDF.head()

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,10/20/2021,01/01/2020,10/16/2021,By Total,NaN,NaN,United States,All Sexes,All Ages,723880.0,5928410.0,649389.0,369136.0,9372.0,1012160.0,NaN
1,10/20/2021,01/01/2020,10/16/2021,By Total,NaN,NaN,United States,All Sexes,Under 1 year,132.0,33432.0,367.0,16.0,23.0,506.0,NaN
2,10/20/2021,01/01/2020,10/16/2021,By Total,NaN,NaN,United States,All Sexes,0-17 years,542.0,59268.0,1043.0,138.0,189.0,1636.0,NaN
3,10/20/2021,01/01/2020,10/16/2021,By Total,NaN,NaN,United States,All Sexes,1-4 years,63.0,6236.0,210.0,16.0,65.0,322.0,NaN
4,10/20/2021,01/01/2020,10/16/2021,By Total,NaN,NaN,United States,All Sexes,5-14 years,172.0,9911.0,303.0,54.0,80.0,501.0,NaN

In [ ]:
# cleanup tasks
# 1. get rid of "all age" and "all sex" rows because these are just combined from the different age groups and sexes

In [29]:
# break out by timeframe (total, year, or month)
ageSexByTotalDF = ageSexDF.loc[ageSexDF["Group"]=="By Total"]
ageSexByYearDF = ageSexDF.loc[ageSexDF["Group"]=="By Year"]
ageSexByMonthDF = ageSexDF.loc[ageSexDF["Group"]=="By Month"]
# let's try getting Georgia by month for all ages and all sexes
ageSexGeorgiaByMonthDF = ageSexByMonthDF.loc[ageSexByMonthDF['State']=='Georgia']
ageSexGeorgiaByMonthDF.count()
#ageSexGeorgiaByMonthDF.head()

Data As Of                                  1122
Start Date                                  1122
End Date                                    1122
Group                                       1122
Year                                        1122
Month                                       1122
State                                       1122
Sex                                         1122
Age Group                                   1122
COVID-19 Deaths                              873
Total Deaths                                1042
Pneumonia Deaths                             799
Pneumonia and COVID-19 Deaths                869
Influenza Deaths                             903
Pneumonia, Influenza, or COVID-19 Deaths     831
Footnote                                     650
dtype: int64

In [ ]:
plt.plot(ageSexGeorgiaByMonthDF[])